{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey Form</title>
    <link rel="stylesheet" href=" {% static 'porter/main.css' %}">
</head>
<body>

    <div class="surveyDiv">

        <form action="{% url "survey" %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{form.as_p}}

            <input type="submit" value="Submit"/>
        </form>
    </div>
   
</body>
</html>